@model IEnumerable<GameStoreUI.Areas.Admin.Models.Genres.GenreViewModel>
@using Microsoft.AspNet.Identity
@{
    var isAdmin = User.IsInRole("Admin");
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Games Count
        </th>
        @if (isAdmin)
        {
            <th>
                Actions
            </th>
        }
    </tr>

    @foreach (var item in Model)
    {
        using (@Html.BeginForm("Delete", "Genres", new { area = "Admin", id = item.Id }, FormMethod.Post))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GamesCount)
                </td>
                @if (isAdmin)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Genres", new { area = "Admin", id = item.Id }, new { @class = "btn-sm btn-warning" })
                        <input type="submit" value="Delete" class="btn-sm btn-danger" />
                    </td>
                }
            </tr>
        }

    }

</table>

