@model IEnumerable<StoreCS.Models.NewsViewModel>


<div class="row">
    @foreach (var news in Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="news-card">
                <div class="news-card-image">
                    <img src="@news.Image" alt="news img" />
                </div>
                <div class="news-card-body">
                    <div class="news-card-header">
                        <h4>@news.Header</h4>
                    </div>
                    <div class="news-card-content">
                        <p>@news.Content</p>
                    </div>
                </div>
                <div class="news-card-footer">
                    <p>Date: @news.Date</p>
                    <p>Category: @news.Category</p>
                </div>
                @if (news.IsManager)
                {
                    using (Html.BeginForm("RemoveNews", "ManagerPanel", new { id = news.Id, area = "Manager" }, FormMethod.Post))
                    {
                        <input type="submit" value="Delete" class="btn-sm btn-danger" />
                    }
                }
            </div>
        </div>
    }
</div>
