@model IEnumerable<GameStoreUI.Areas.Admin.Models.Games.GameViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container my-container">
    <h3 class="text-center text-white">Hello and welcome to our games strore website!</h3>
    <div class="my-content">
        <p class="text-center text-white">You can find games of various genres and developers for decent prices</p>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner w-75 center-div">
                @{
                    var first = Model.FirstOrDefault();
                    <div class="carousel-item active">
                        <div class="card mb-4 my-card">
                            <img class="card-img-top" src="@first.Image" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@first.Name</h5>
                                <p class="card-text">@first.Description</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><span class="font-weight-bold">Developer:</span> @first.Developer</li>
                                <li class="list-group-item"><span class="font-weight-bold">Genre:</span> @first.Genre</li>
                                <li class="list-group-item"><span class="font-weight-bold">Year:</span> @first.Year</li>
                                <li class="list-group-item text-right"><span class="font-weight-bold">Price:</span> @first.Price$</li>
                            </ul>
                        </div>
                    </div>
                    for (int i = 1; i < Model.Count(); i++)
                    {
                        <div class="carousel-item">
                            <div class="card mb-4 my-card">
                                <img class="card-img-top" src="@Model.ElementAt(i).Image" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.ElementAt(i).Name</h5>
                                    <p class="card-text">@Model.ElementAt(i).Description</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="font-weight-bold">Developer:</span> @Model.ElementAt(i).Developer</li>
                                    <li class="list-group-item"><span class="font-weight-bold">Genre:</span> @Model.ElementAt(i).Genre</li>
                                    <li class="list-group-item text"><span class="font-weight-bold">Year:</span> @Model.ElementAt(i).Year</li>
                                    <li class="list-group-item text-right"><span class="font-weight-bold">Price:</span> @Model.ElementAt(i).Price$</li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon text-green" aria-hidden="true"></span>
                <span class="sr-only text-green">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>